.ant-select-selector {
  height: 45px !important;
  border-radius: 20px !important;

  .ant-select-selection-search-input {
    height: 40px !important;
  }

  .ant-select-selection-placeholder {
    line-height: 40px !important;
  }
}